.Tpsection06{
  background-color: #222222;
  padding: 220px 0px;
  @media (max-width: 700px) {
    padding: 130px 0px;
  }
  &__textBox{
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    color: white;
    padding: 30px 0px;
    @media (max-width: 700px) {
      text-align: center;
    }
    .title{
      // border: solid 1px red;
      font-size: 30px;
      font-weight: 500;
      @media (max-width: 700px) {
        font-size: 24px;
        font-weight: 700;
        padding-left: 20px;
      }
    }
  }
}
.faq-container {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    // padding: 100px 0px;
  }
  
  .faq-item {
    // padding: 0px 0px;
    border-bottom: 1px solid gray;
    border-radius: 0.5px;
  }
  
  .faq-question {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 18px 24px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, scale 0.3s ease;
    // border-radius: 10px;
    line-height: 140%;
    color: white;
    @media (max-width: 700px) {
      font-size: 16px;
      padding: 14px 20px;
    }
  }
  
  // .faq-question:hover {
  //   background: #efefef;
  //   scale: 1.05;
  // }
  
  .faq-answer-wrapper {
    overflow: hidden;
    transition: max-height 0.4s ease;
  }
  
  .faq-answer {
    padding: 20px 20px 50px 20px;
    line-height: 1.5;
    letter-spacing: -0.03px;
    font-size: 18px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    color: #cccccc;
    @media (max-width: 700px) {
      font-size: 15px;
    }
  }
  
  .faq-answer-wrapper.open .faq-answer {
    opacity: 1;
    transform: translateY(0);
  }
  
  .arrow {
    color: #cccccc;
    font-size: 20px;
    padding-left: 20px;
  }
  