.homeMainLicense{
  width: 1200px;
  margin: 0 auto;
  @media (max-width: 1260px) {
    // overflow: hidden;
    width: 100%;
    padding: 0px 15px 30px;
  }
  &__headerLine {
    position: relative;
    height: 57px;
    @media (max-width: 960px) {
      height: 45px;
    }
    &-title {
      position: absolute;
      font-size: 48px;
      font-weight: 600;
      color: $black200;
      @media (max-width: 1260px) {
        font-size: clamp(25px,4vw,48px);
      }

    }
    &-viewAllBtn {
      @include viewAllBtn;
    }
  }
  &__contents {
    padding-top: 32px;
    @media (max-width: 960px) {
      padding-top: 20px;
    }
    @include w1200-center;
    width: 100%;
    &-top {
      display: flex;
      gap: 24px;
      @media (max-width:960px) {
        display: block; 
      }
      @media (max-width:1260px) {
        gap: 2vw;
      }
      
      .content__large {
        position: relative;
        display: inline-block;
        width: 43%;
        height: 740px;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
        @media (max-width:1260px) {
          height: 58.8vw;
        }
        @media (max-width:960px) {
          border-radius: 4vw;
          height: 135vw;
          width: 100%;
        }

        &-categoryBox {
          @include category-box;
        }
        &-imgBox {
          @include img-fit;
        }
        &-hoverBox {
          @include hoverTextStyle;
        }
      }
      .content__middleSmall {
        width: 57%;
        height: 740px;
        @media (max-width:1260px) {
          height: 58.8vw;
        }
        @media (max-width:960px) {
          width: 100%;
          height: auto;
          margin-top: 4vw;
        }
        .middle {
          height: calc(66% - 24px);
          display: flex;
          gap: 24px;
          @media (max-width:1260px) {
            gap: 2vw;
          }
          &__left {
            width: 50%;
            height: 100%;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
            @media (max-width: 960px) {
              border-radius: 4vw;
              height: 67vw;
            }
            &-categoryBox {
              @include category-box;
            }
            &-imgBox {
              @include img-fit;
            }
            &-hoverBox {
              @include hoverTextStyle;
            }
          }
          &__right {
            @include middleSmall-leftRight;
            @media (max-width: 960px) {
              border-radius: 4vw;
              height: 67vw;
            }
            &-categoryBox {
              @include category-box;
            }
            &-imgBox {
              // height: 100%;
              @include img-fit;
            }
            &-hoverBox {
              @include hoverTextStyle;
            }
          }
        }
        .small {
          margin-top: 24px;
          height: 34%;
          display: flex;
          gap: 24px;
          @media (max-width:1260px) {
            gap: 2vw;
          }
          @media (max-width:960px) {
            width: 100%;
            height: auto;
            flex-direction: column;
          }
          &__first,&__second,&__third,&__fourth{
            width: 25%;
            height: 100%;
            border-radius: 30px;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
            @media (max-width:960px) {
              width: 100%;
              height: clamp(60px,12vw,100px);
              border-radius: 100px;;
            } 
            &-categoryBox{}
            &-imgBox {
              position: absolute;
              top: 42px;
              left: 50%;
              transform: translate(-50%);
              @media (max-width: 1260px) {
                top: 2vw;
              }
              @media (max-width: 960px) {
                left: 1.4vw;
                top: 50%;
                transform: translate(0,-50%);
                display: flex;
                align-items: center;
              }
              img{
                width: 100px;
                @media (max-width: 1260px) {
                  width: clamp(50px,9vw,100px);
                }
              }
            }
            &-textBox {
              position: absolute;
              bottom: 30px;
              width: 100%;
              text-align: center;
              color: $black200;
              @media (max-width: 960px) {
                top: 50%;
                transform: translate(0%,-50%);
                width: 100%;
                padding-right: 2vw;
                display: flex;
                justify-content: space-between;
                bottom: 0px;
              }
              .text__ko {
                font-size: 16px;

                @media (max-width: 1260px) {
                  font-size: clamp(14px,1.3vw,16px);
                }
                @media (max-width: 960px) {
                  display: flex;
                  align-items: center;
                  font-size: clamp(12px,3vw,20px);
                  font-weight: 400;
                  padding-left: clamp(65px,15vw,160px)
                }
              }
              .text__en{
                margin-top: 5px;
                font-size: 14px;
                @media (max-width: 1260px) {
                  font-size: clamp(12px,1.3vw,14px);
                }
                @media (max-width: 960px) {
                  display: flex;
                  align-items: center;
                  margin-top: 0px;
                  font-size: clamp(12px,3vw,20px);
                  font-weight: 500;
                  background-color: rgba(0, 0, 0, 0.5);
                  color: $white;
                  border-radius: 100px;
                  font-weight: 300;
                  padding: 0px 3vw;
                }
              }
            }
          }
        }
      }
    }
    &-bottom {
      margin-top: 24px;
      display: flex;
      gap: 24px; 
      @media (max-width:1260px) {
        gap: 2vw;
      }
      @media (max-width:960px) {
        flex-direction: column-reverse;
      }
      .content__middleSmall {
        width: 57%;
        height: 740px;
        @media (max-width:1260px) {
          height: 58.8vw;
        }
        @media (max-width:960px) {
          width: 100%;
          height: auto;
          margin-top: 2vw;
        }
        .middle {
          height: calc(66% - 24px);
          display: flex;
          gap: 24px;
          @media (max-width:1260px) {
            gap: 2vw;
          }
          &__left {
            @include middleSmall-leftRight;
            @media (max-width: 960px) {
              border-radius: 4vw;
              height: 67vw;
            }
            &-categoryBox {
              @include category-box;
            }
            &-imgBox {
              @include img-fit;
            }
            &-hoverBox {
              @include hoverTextStyle;
            }
          }
          &__right {
            @include middleSmall-leftRight;
            @media (max-width: 960px) {
              border-radius: 4vw;
              height: 67vw;
            }
            &-categoryBox{
              @include category-box;
            }
            &-imgBox {
              @include img-fit;
            }
            &-hoverBox {
              @include hoverTextStyle;
            }
          } 
        }

        .small {
          margin-top: 24px;
          height: 34%;
          display: flex;
          gap: 24px;
          @media (max-width:1260px) {
            gap: 2vw;
          }
          @media (max-width:960px) {
            width: 100%;
            height: auto;
            flex-direction: column;
          }
          &__first,&__second,&__third,&__fourth {
            width: 25%;
            height: 100%;
            border-radius: 30px;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
            @media (max-width:960px) {
              width: 100%;
              height: clamp(60px,12vw,100px);
              border-radius: 100px;;
            } 
            &-categoryBox{}
            &-imgBox {
              position: absolute;
              top: 42px;
              left: 50%;
              transform: translate(-50%);
              @media (max-width: 1260px) {
                top: 2vw;
              }
              @media (max-width: 960px) {
                left: 1.4vw;
                top: 50%;
                transform: translate(0,-50%);
                display: flex;
                align-items: center;
              }
              img{
                width: 100px;
                @media (max-width: 1260px) {
                  width: clamp(50px,9vw,100px);
                }
              }
            }
            &-textBox {
              position: absolute;
              bottom: 40px;
              width: 100%;
              text-align: center;
              color: $black200;
              @media (max-width: 960px) {
                top: 50%;
                transform: translate(0%,-50%);
                width: 100%;
                padding-right: 2vw;
                display: flex;
                justify-content: space-between;
                bottom: 0px;
              }
              .text__ko {
                font-size: 16px;
                @media (max-width: 1260px) {
                  font-size: clamp(14px,1.3vw,16px);
                }
                @media (max-width: 960px) {
                  display: flex;
                  align-items: center;
                  font-size: clamp(12px,3vw,20px);
                  font-weight: 400;
                  padding-left: clamp(65px,15vw,160px)
                }
              }
              .text__en{
                margin-top: 5px;
                font-size: 14px;
                @media (max-width: 1260px) {
                  font-size: clamp(12px,1.3vw,14px);
                }
                @media (max-width: 960px) {
                  display: flex;
                  align-items: center;
                  margin-top: 0px;
                  font-size: clamp(14px,3vw,20px);
                  font-weight: 500;
                  background-color: rgba(0, 0, 0, 0.5);
                  color: white;
                  border-radius: 100px;
                  font-weight: 300;
                  padding: 10px 4vw;
                }
              }
            }
          }
        }
      }
      .content__large {
        position: relative;
        width: 43%;
        height: 740px;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        @media (max-width:1260px) {
          height: 58.8vw;
        }
        @media (max-width:960px) {
          height: 135vw;
          width: 100%;
          border-radius: 4vw;
        }
        &-categoryBox {
          @include category-box;
        }
        &-imgBox {
          @include img-fit;
        }
        &-hoverBox {
          @include hoverTextStyle;
        }
      }
    }
  }
}